section#training {
	background-color: white;
}

#trn-graph {
	font-size: var(--font-xs);
	overflow: hidden;
}

.trn-info {
	display: flex;
	align-items: center;
	margin: 35px 0;

	font-size: var(--font-sm);
}
.trn-info > p {
	flex-shrink: 0;
	width: 100px;
	text-align: right;

	color: var(--color-red);
	font-weight: 500;
}
.trn-info > i {
	flex-shrink: 0;
	margin: 0 25px 0 10px;

	font-size: 1.5em;
	color: var(--color-red);
	background-color: white;
}

.trn-info > div > div:nth-child(1) {
	font-weight: 600;
	font-size: var(--font-md);
}
.trn-info > div > div:nth-child(2) {
	color: var(--color-gray);
}
.trn-info > div > div:nth-child(3) {
	color: var(--color-gray);
}
.trn-info > div > div:nth-child(3) > span {
	color: var(--color-red);
	font-weight: 500;
}

@media only screen and (min-width: 600px) {
	#trn-graph {padding-left: 5%;}
}