footer {
	padding: 90px 0;

	background-color: #818181;
}

footer h4 {
	text-align: center;

	color: white;
	font-size: var(--font-xl);
}
footer h4 span {
	display: inline-block;
	border-bottom: 4px solid var(--color-red);
}

footer div > address {
	margin: 50px 0;

	font-style: normal;
	color: white;
	text-align: center;
}
footer address > p {
	line-height: 1.6em;
	color: var(--color-red);
	font-size: var(--font-md);
	font-weight: 700;
}
footer address > a {
	display: inline-block;

	color: white;
	text-align: center;
	font-size: var(--font-sm);
	font-weight: 500;
}
